DB_URL="mongodb://user:password@localhost:27017"
GEMINI_API_KEY="Your_Gemini_API_Key_Here"
NEO_CONNECTION_URI="Your_Neo4j_Connection_URI_Here"
NEO_USERNAME="Your_Neo4j_Username_Here"
NEO_PASSWORD="Your_Neo4j_Password_Here"

# you can use openapi key if you have one as it is paid service
# OPEN_API_KEY="Your_OpenAPI_Key_Here"